<div class="top-footer-container">

<table class="main-table">
    <tr>
        <td width="40%" align="center">
            <table>
                <tr><td> <p class="footer-table-header-1"> Sign up and <br>get free content every week. </p> </td></tr>
                <tr><td></td></tr>
                <tr><td><input type="text" placeholder="Enter your email..."> </td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td>
                    <input type="button" value="Sign Up" class="button">
                </td></tr>
            </table>

        </td>
        <td width="70%" align="center">
            <table class="footer-table-header-2" class="table-3">
                <tr><td colspan="3"><p class="footer-table-header-1"> Browse by categories</p></td></tr>
                <tr>
                    <td><a href="#">Graphics</a></td>
                    <td><a href="#">Addons</a></td>
                    <td><a href="#">Buttons</a></td>
                    <td><a href="#">Infographics</a></td>
                </tr>
                <tr>
                    <td><a href="#">PSDs</a></td>
                    <td><a href="#">Fonts</a></td>
                    <td><a href="#">Forms</a></td>
                    <td><a href="#">Graphs</a></td>
                </tr>
                <tr>
                    <td><a href="#">Icons</a></td>
                    <td><a href="#">Textures</a></td>
                    <td><a href="#">GUI</a></td>
                    <td><a href="#">Logos</a></td>
                </tr>
                <tr>
                    <td><a href="#">Templates</a></td>
                    <td><a href="#">Patterns</a></td>
                    <td><a href="#">Navigation</a></td>
                    <td><a href="#">Vectors</a></td>
                </tr>
                <tr>
                    <td><a href="#">Themes</a></td>
                    <td><a href="#">Backgrounds</a></td>
                    <td><a href="#">UI Kits</a></td>
                    <td><a href="#">Business Cards</a></td>
                </tr>
            </table>

        </td>
    </tr>
</table>

</div>